<footer>
  <div class="content-footer">
    <content-article-component>
      <span title>Free Shipping</span>
      Get 2-day free shipping anywhere in North America.
    </content-article-component>

    <content-article-component>
      <span title>2 years warranty</span>
      If anything goes wrong in the first two years, we'll replace it for free.
    </content-article-component>
  </div>

  <div class="interaction">
    <content-article-component>
      <span title class="price">$295.95</span>
      Need financing? Learn more
    </content-article-component>

    <button>Buy now</button>
  </div>
</footer>
